# capitalize()

In [1]:
s = "nagesh"

In [2]:
s.capitalize()

'Nagesh'

In [3]:
s = "nagesh KUMAR"

In [4]:
s.capitalize()

'Nagesh kumar'

In [5]:
# returns string with first letter capitalzed and if upper case alphabet converts into lower case

In [6]:
s = "12334"

In [7]:
s.capitalize()

'12334'

In [8]:
s = "#12334"

In [9]:
s.capitalize()

'#12334'

In [11]:
s.capitalize("nagesh")

TypeError: capitalize() takes no arguments (1 given)

# center()

In [12]:
str = "nagesh singh rajput"

In [13]:
str1 = str.center(56)

In [15]:
print "center:",str1

center:                   nagesh singh rajput

In [18]:
print str

nagesh singh rajput

In [19]:
print str1

                  nagesh singh rajput

In [20]:
str = "1"

In [24]:
str.center(32, * )

SyntaxError: invalid syntax (<ipython-input-24-87cdb8341dc7>, line 1)

# count

In [1]:
#string count method returns the no of occurence of sub string in given string

In [2]:
str = " why i love python i don't know but yes i love python"

In [4]:
str.count("i")

3

In [6]:
str.count("i",6,122)

2

In [10]:
str.count("sdknk nk ",2323,122)

0

In [9]:
# define string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

('The count is:', 2)

In [11]:
# return 0 if not there else count of substring

# endswith()

In [12]:
str1 = "google.com"

In [13]:
str1.endswith("com")

True

In [14]:
str1.endswith("")

True

In [15]:
str1.endswith(" ")

False

In [16]:
str1.endswith("m")

True

In [19]:
if str1.endswith("com"):
    print "yes!"

yes!

# expandtabs()

In [20]:
str = 'xyz\t12345abc'


result = str.expandtabs()

print(result)

xyz     12345abc

In [22]:
str = 'xyz12345abc' 
#if not then returns same


result = str.expandtabs()

print(result)

xyz12345abc

# encode()

In [23]:
# unicode string
string = 'pyth√∂n!'

# print string
print('The string is:', string)

# default encoding to utf-8
string_utf = string.encode()

# print result
print('The encoded version is:', string_utf)

('The string is:', 'pyth\xc3\xb6n!')

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 4: ordinal not in range(128)

In [24]:
#find

In [33]:
quote = 'nagesh singh nagesh'
quote.find('nagesh')

0

# title()
## title method return a string with first letter of each word capitalised

In [1]:
str = "nagesh singh rajput"
print (str.title())

Nagesh Singh Rajput

In [2]:
str = "Nagesh Singh Rajput"
print (str.title())

Nagesh Singh Rajput

In [3]:
str = ""
print (str.title())

In [4]:
str = " "
print (str.title())

In [5]:
str = "12 34 56"
print (str.title())

12 34 56

In [6]:
str = "!!@#"
print (str.title())

!!@#

In [7]:
str = "NAFES"
print (str.title())

Nafes

# split
### breaks upto specied separator and return string default taken as space

In [24]:
str = "Nagesh Singh Rajput"
print (str.split())  # this is called split on the basis of default spaces

['Nagesh', 'Singh', 'Rajput']

In [25]:
str = "Nagesh Singh Rajput"
print (str.split('a'))

['N', 'gesh Singh R', 'jput']

In [26]:
str = "Nagesh Singh Rajput"
print (str.split('asscs'))

['Nagesh Singh Rajput']

In [27]:
str = "Nagesh Singh Rajput"
print (str.split(''))

ValueError: empty separator

In [28]:
str = "Nagesh Singh Rajput"
print (str.split(','))

['Nagesh Singh Rajput']

In [29]:
str = "Nagesh Singh Rajput"
print (str.split('  snkasjbbsc iikjsbkjbkcsjbsan2j2u9829'))

['Nagesh Singh Rajput']

In [30]:
str = "Nagesh Singh Rajput"
print (str.split('12333'))

['Nagesh Singh Rajput']

In [31]:
#separator was removed

In [32]:
str = "Nagesh Singh Rajput"
print (str.split('Nagesh'))

['', ' Singh Rajput']

In [34]:
str = "nagesh Singh Rajput"
print (str.split('n',1)) # 1 is optional which is called maxsplit

['', 'agesh Singh Rajput']

# rsplit 
## rsplit method split from right at specified separator

In [35]:
str = "Nagesh Singh Rajput"
print (str.rsplit())

['Nagesh', 'Singh', 'Rajput']

In [38]:
str = "nagesh Singh Rajput"
print (str.split('n',1))

['', 'agesh Singh Rajput']

In [39]:
#split method splits from left side and that maxsplit gives that you have to do only 1 times

In [41]:
str = "nagesh Singh Rajput"
print (str.rsplit('n',1))

['nagesh Si', 'gh Rajput']

In [42]:
# rsplit split only  from right side

###  Replace()

## returns a copy of the string where all occurence of the string is replaced by another string

In [47]:
song = "cold , cold ,hurt"

In [50]:
 print (song.replace('col','heart'))

heartd , heartd ,hurt

In [51]:
str = """johny johny yes papa
        eating sugar no papa
        telling lie no papa 
        eating sugar no papa 
        open your mouth hahahaha"""

In [52]:
print str.replace("papa","mummy")

johny johny yes mummy
        eating sugar no mummy
        telling lie no mummy
        eating sugar no mummy
        open your mouth hahahaha

In [53]:
str = """johny johny yes papa
        eating sugar no papa
        telling lie no papa 
        eating sugar no papa 
        open your mouth hahahaha"""

print str.replace("" ,"")

johny johny yes papa
        eating sugar no papa
        telling lie no papa
        eating sugar no papa
        open your mouth hahahaha

In [54]:
#if we do not pass anything automatically gives same string

In [55]:
str = """johny johny yes papa
        eating sugar no papa
        telling lie no papa 
        eating sugar no papa 
        open your mouth hahahaha"""

print str.replace(" " ,"@")

johny@johny@yes@papa
@@@@@@@@eating@sugar@no@papa
@@@@@@@@telling@lie@no@papa@
@@@@@@@@eating@sugar@no@papa@
@@@@@@@@open@your@mouth@hahahaha

In [56]:
# using strip function

str = """johny johny yes papa
        eating sugar no papa
        telling lie no papa 
        eating sugar no papa 
        open your mouth hahahaha"""

str_ = str.replace(" " ,"@")
str_.strip('@')

'johny@johny@yes@papa\n@@@@@@@@eating@sugar@no@papa\n@@@@@@@@telling@lie@no@papa@\n@@@@@@@@eating@sugar@no@papa@\n@@@@@@@@open@your@mouth@hahahaha'

In [57]:
str = "@@@@@@@@@nagesh@@@@@@@@@@@@"

In [59]:
str.strip('@')

'nagesh'

In [60]:
str = "nananananananageshnaananannana"
str.strip('na')

'gesh'

In [61]:
str = "nananananananagesh"
str.strip('na')

'gesh'

# lstrip() and rstrip()  
## lstrip () removes only from left side
## rstrip () removes only  from right side


### whereas strip() removes extra character from both sides

In [62]:
str = "nsndnsnldnslknlnldnnalndknk"
str.lstrip('23')

'nsndnsnldnslknlnldnnalndknk'

# 1. lower()
# 2. upper()
# 3. swapcase()

In [63]:
str = "nagesh"
str.lower()

'nagesh'

In [64]:
str = "nageshzsssSAFJBUGDUAUDVbjhdbjbsj"
str.lower()

'nageshzssssafjbugduaudvbjhdbjbsj'

In [65]:
str = "1232@$!"
str.lower()

'1232@$!'

In [66]:
str = " "
str.lower()

' '

In [67]:
#swap case  
# changes lower to upper and upper to lower

In [68]:
str = "nHGUGYFY6753bkdxbkkBBDJAbjbjb@24949"
str.swapcase()

'Nhgugyfy6753BKDXBKKbbdjaBJBJB@24949'

# string join()
## the join() is a string method which returns a string concatenated with elements of an iterable

In [69]:
strr= "1234"
strrr= "abcd"
(strr).join(strrr)

'a1234b1234c1234d'

In [70]:
str = "1,2,34,56"

In [72]:
',''.join(str)

SyntaxError: EOL while scanning string literal (<ipython-input-72-ed78ef9fd431>, line 1)

# isupper()
# islower()

### returns true in isupper() if all the character is in uppercase if not then returns false
### returns true in islower() if all the character is in lowercase if not then returns false

In [73]:
str = "acbsbkjdsbkjjddshhdsfhihi"
str.islower()

True

In [74]:
str = "123343"
str.islower()

False

In [75]:
str = "123343a"
str.islower()

True

In [76]:
str = "123343@$$!"
str.islower()

False

In [78]:
str = "aaadfggh"
str.islower()

True

In [79]:
str = "aA"
str.islower()

False

In [80]:
# if there is any character which is upper then is lower returns false

In [81]:
str = "NSF"
str.isupper()

True

In [82]:
str = "NSFa"
str.isupper()

False

In [83]:
str = "NSF13"
str.isupper()

True

In [84]:
#for digits and special characters this functions doesnt bother about

In [85]:
# for only special characters this string function gives false

## istitle()

### check that given string  is in title case like   Nagesh Singh Rajput

In [86]:
str = "Nagesh Singh"
str.istitle()

True

In [87]:
str = "nagesh singh"
str.istitle()

False

In [88]:
str= "23268shdshi389233#$$"
str.istitle()

False

In [89]:
str = "133"
str.istitle()

False

In [90]:
str = ""
str.istitle()

False